################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeDb/EmployeeDb.jfm
/EmployeeDb/EmployeeDb.dbmdl
/.vs/EmployeeManagement/FileContentIndex
